.navbar {
  background: transparent;
  background: rgba(0, 43, 149, 0);
  transition: 0.2s ease-in-out;

  &.navbar-scrolled,
  &.navbar-expanded {
    background: rgba(0, 43, 149, 1);

    .navbar-brand img {
      width: 9.375rem;
    }
  }

  &.navbar-full {
    animation: fade-in 1.5s ease-in-out;
  }

  .navbar-brand {
    font-weight: 700;
    padding-bottom: 0;

    h1 {
      margin: 0;
      line-height: 1;
      font-size: 0;
      font-weight: normal;
    }

    img {
      transition: width 0.2s ease-in-out;
      width: 15.375rem;
    }
  }

  &.navbar-dark a {
    color: $white;
  }

  &-social {
    margin-right: 1rem;

    .nav-item {
      margin: 0.5rem 0;
    }

    a {
      margin: 0 0.5rem;
      opacity: 0.75;
      transition: 0.15s ease-in-out;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }

    .fa, .fab {
      font-size: 1.25rem;
    }
  }

  &-languages {
    margin: 1rem 0;
  }
}

.vote-info {
  position: relative;
  background: $brand-primary;
  padding: 8rem 0 4rem 0;
  overflow: hidden;
  background-image: url('../images/altea.jpg');
  background-size: cover;
  background-position: center top;
  color: $white;
  transition: 0.5s ease-in-out;

  h2 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.75;
    padding-right: 130px;
    max-width: 730px;
    transition: 0.5s ease-in-out;

    span {
      box-decoration-break: clone;
      padding: 0.25rem 0.75rem;
      background: $brand-primary;
      background: rgba(0, 43, 149, 0.75);
      border-radius: 0.25rem;
    }
  }

  &__intro {
    padding-right: 130px;
    font-size: 0.9rem;
    max-width: 630px;
    line-height: 1.5;
    margin-top: 1.25rem;
    transition: 0.5s ease-in-out;

    span {
      box-decoration-break: clone;
      padding: 0.25rem 0.75rem;
      background: $white;
      border-radius: 0.25rem;
      color: $brand-primary;
    }
  }

  &__action {
    margin-top: 2rem;
    transition: 0.5s ease-in-out;

    a {
      font-size: 1rem;
      padding: 0.75rem 1.25rem;
    }
  }

  .calendar {
    transition: 0.5s ease-in-out;
  }

  &.vote-info--full {
    h2 {
      animation: slide-up 0.5s ease-in-out;
    }

    .vote-info__intro {
      animation: slide-up 0.75s ease-in-out;
    }

    .vote-info__action {
      animation: slide-up 1s ease-in-out;
    }

    .calendar {
      animation: fade-in 1.25s ease-in-out;
    }
  }

  &.vote-info--compact {
    background-position: center;
    padding: 37px 0;

    h2,
    .vote-info__intro,
    .vote-info__action {
      display: none;
    }

    .calendar {
      transform: scale(0.9);
    }
  }
}

.booth-mode {
  .vote-info {
    padding: 2.5rem 0;
  }
}

.calendar {
  margin-left: auto;
  overflow: hidden;
  border: 2px $white solid;
  @include border-radius(0.5rem);
  text-align: center;
  width: 8.75rem;

  &__heading {
    color: $white;
    background: $brand-primary;
    padding: 0.15rem;
    border-bottom: 2px $white solid;
  }

  &__dates {
    font-size: 1.35rem;
    padding: 0.5rem;
    background: $white;
    color: $brand-primary;
  }

  &__days {
    margin-bottom: -0.25rem;
  }

  &__month {
    font-size: 1.15rem;
  }

  &__date-columns .col:first-child {
    border-right: 1px rgba(0, 0, 0, 0.15) dashed;
  }
}

.lang-es .vote-info h2 {
  padding-right: 94px;
}

@include media-breakpoint-up(md) {
  .vote-info {
    h2 {
      font-size: 3rem;
      line-height: 1.6;
    }

    &__intro {
      font-size: 1.25rem;
      line-height: 1.4;
    }

    &__action a {
      font-size: 1.25rem;
    }

    &.vote-info--compact {
      h2 {
        font-size: 2rem;
        padding-right: 0;
      }

      .vote-info__intro {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar-social {
    .nav-item {
      margin: 0;
    }
  }

  .navbar-languages {
    margin: 0;
  }

  .vote-info.vote-info--compact {
    padding: 100px 0 2rem 0;

    h2 {
      display: block;
    }
  }
}

@include media-breakpoint-up(xl) {
  .vote-info.vote-info--compact {
    .vote-info__intro {
      display: block;
    }
  }
}
