.languages {
  padding: 0 0.75rem;

  .btn-outline-primary {
    position: relative;
    width: 100%;
    text-align: left;
  }

  .dropdown {
    &-divider {
      margin: 0.25rem 0;
    }

    &-item {
      padding: 0.25rem 0.75rem;
    }

    &-toggle::after {
      position: absolute;
      right: 0.75rem;
      top: 50%;
      margin-top: -3px;
    }
  }
}

.navbar-languages {
  .btn-outline-primary {
    color: $white;
    border-color: $white;

    &:hover,
    &:active {
      background-color: $gray-light !important;
      border-color: $gray-light;
    }
  }

  .show > .btn-outline-primary.dropdown-toggle {
    background-color: $gray-light;
    border-color: $gray-light;
  }

  .dropdown {
    &-menu {
      background: $gray-light;
      margin-top: -10px;
      border: 0;
    }

    &-item {
      &:hover,
      &:focus {
        background-color: $gray-600;
      }
    }
  }
}

.footer-languages {
  padding: 0;
  margin-bottom: 2rem;

  .btn-outline-primary {
    border-color: $gray-400;
    background-color: $white;

    &:hover {
      color: $brand-primary;
    }
  }

  .show > .btn-outline-primary.dropdown-toggle {
    color: $white;
  }

  .dropdown {
    &-menu {
      transform: none;
      right: 0px;
    }

    &-divider {
      display: none;
    }
  }
}

@include media-breakpoint-up(lg) {
  .languages {
    padding: 0;

    .btn-outline-primary {
      width: 10rem;
    }
  }
}
